# Test account credentials (Cognito users)
ADMIN_EMAIL=admin
ADMIN_PASSWORD=admin
TEACHER_EMAIL=admin
TEACHER_PASSWORD=admin
STUDENT_EMAIL=admin
STUDENT_PASSWORD=admin

# Frontend URL
BASE_URL=http://localhost:5173
VITE_API_URL=https://api.frogedu.org
