name: content-cd

permissions:
  contents: read

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  content-cd:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
        with:
          sparse-checkout: |
            backend/Shared
            backend/Services/Content

      - name: print what's inside
        run: ls -a

      - name: print backend contents
        run: ls -a backend
